html,
body {
  height: 100%;
}

.app-container {
  min-height: 100vh;
}

.cardHeaderColor {
  border: none;
}

.btn-primary {
  background-color: #09c35c;
  border: none;
}

.btn-primary:hover {
  background-color: #09c35c;
  border: none;
  opacity: 0.75;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}
